* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tasklist {
  padding: 2rem 0;
}

.tasklist > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
